@keyframes skeleton-loading {
	0% {
		background-color: hsl(210, 20%, 85%);
	}
	100% {
		background-color: hsl(210, 20%, 90%);
	}
}

@keyframes edd-spinning {
	from {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	to {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}
