# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Sublime
*.sublime-project
*.sublime-workspace

# PhpStorm
.idea
Easy-Digital-Downloads.iml

# Eclipse
*.pydevproject
.project
.metadata
/build
tmp/
tests/clover.xml

# Node
node_modules

# Temporary files
*~

# Blocks
includes/blocks/node_modules
includes/blocks/package-lock.json

/vendor
!vendor/autoload.php
!vendor/composer
!vendor/symfony/deprecation-contracts
