# Items to ignore when downloading a zip

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.jshintrc export-ignore
/bin/ export-ignore
apigen.neon export-ignore
composer.json export-ignore
Gruntfile.js export-ignore
package.json export-ignore
phpunit.xml export-ignore
readme.txt export-ignore
/tests/ export-ignore
docker-compose-phpunit.yml export-ignore
/.buildkite/ export-ignore
/.github/ export-ignore
