language: php

sudo: false

php:
- 5.3
- 5.4
- 5.5
- 5.6
- 7.0

env:
- WP_VERSION=latest WP_MULTISITE=0
- WP_VERSION=4.7 WP_MULTISITE=0
- WP_VERSION=4.6 WP_MULTISITE=0
- WP_VERSION=4.5 WP_MULTISITE=0
- WP_VERSION=4.4 WP_MULTISITE=0

matrix:
  include:
    - php: 5.6
      env: WP_VERSION=latest WP_MULTISITE=1

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then
      composer global require "phpunit/phpunit=5.7.*"
    else
      composer global require "phpunit/phpunit=4.8.*"
    fi

script:
- phpenv config-rm xdebug.ini
- phpunit

branches:
  only:
    - master
    - /^release\/.*$/

notifications:
  slack:
    secure: g32q5XHgjZI7eNpNEBRpVab9f1JNoxBP6q5j+v/8qhbp9mcHGyfAjoPePCCB2IPtDByMAhRg/RmKwtj0yt1ORqftcbCFrMni6ePBSBRzjFIIsYlEZbEr2m1bRZTHpYgkVvkNCFra6y7kzL8WsnYPokiITRHw5/BKxLdePEgk1Q0=
