# If you fork EDD and want to use Travis on your fork, please go to:
# https://github.com/yourname/Easy-Digital-Downloads/admin/hooks#travis_minibucket
# and follow the instructions
language: php
php:
# PHP Versions WP Does Not Officially Support Yet
#  - 5.5
# PHP Versions EDD Officially Supports
#  - 5.4
  - 5.3
# Ones that support for legacy reasons
#  - 5.2
env:
# Officialy Supported WP Versions (w/ and w/o MS)
#  - WP_VERSION=3.5.1 WP_MULTISITE=0 
  - WP_VERSION=3.5.1 WP_MULTISITE=1
# Last WP Version (tested against but not supported by EDD)
#  - WP_VERSION=3.5 WP_MULTISITE=0
#  - WP_VERSION=3.5 WP_MULTISITE=1
# These versions of WordPress we do not officially support
# Last Major WP Version not in current 3.x branch
#  - WP_VERSION=3.4.2 WP_MULTISITE=0
#  - WP_VERSION=3.4.2 WP_MULTISITE=1
# To test EDD on them, uncomment the line, by removing the "#"
#    and then uncomment the allowed failures line for the respective
#    versions below. 
#  - WP_VERSION=3.4.1 WP_MULTISITE=0
#  - WP_VERSION=3.4.1 WP_MULTISITE=1
#  - WP_VERSION=3.4 WP_MULTISITE=0
#  - WP_VERSION=3.4 WP_MULTISITE=1 
#  - WP_VERSION=3.3.3 WP_MULTISITE=0
#  - WP_VERSION=3.3.3 WP_MULTISITE=1 
#  - WP_VERSION=3.3.2 WP_MULTISITE=0
#  - WP_VERSION=3.3.2 WP_MULTISITE=1
#  - WP_VERSION=3.3.1 WP_MULTISITE=0
#  - WP_VERSION=3.3 WP_MULTISITE=1
#  - WP_VERSION=3.3 WP_MULTISITE=0
#  - WP_VERSION=3.2.1 WP_MULTISITE=1
#  - WP_VERSION=3.2.1 WP_MULTISITE=0
#  - WP_VERSION=3.2 WP_MULTISITE=0
#  - WP_VERSION=3.2 WP_MULTISITE=1
# Test against (but allow fail) on older WP and PHP versions, as well as beta WP
# Also test against the current Master (development) Github repo of WordPress
#matrix:
#  allow_failures:
# Legacy Versions
#    - env: WP_VERSION=3.5 WP_MULTISITE=0 
#    - env: WP_VERSION=3.5 WP_MULTISITE=1
# Old Versions (uncomment lines here and above to test)
#    - env: WP_VERSION=3.4.1 WP_MULTISITE=0
#    - env: WP_VERSION=3.4.1 WP_MULTISITE=1
#    - env: WP_VERSION=3.4 WP_MULTISITE=0
#    - env: WP_VERSION=3.4 WP_MULTISITE=1 
#    - env: WP_VERSION=3.3.3 WP_MULTISITE=0
#    - env: WP_VERSION=3.3.3 WP_MULTISITE=1 
#    - env: WP_VERSION=3.3.2 WP_MULTISITE=0
#    - env: WP_VERSION=3.3.2 WP_MULTISITE=1
#    - env: WP_VERSION=3.3.1 WP_MULTISITE=0
#    - env: WP_VERSION=3.3.1 WP_MULTISITE=1
#    - env: WP_VERSION=3.3 WP_MULTISITE=0
#    - env: WP_VERSION=3.3 WP_MULTISITE=1
#    - env: WP_VERSION=3.2.1 WP_MULTISITE=0
#    - env: WP_VERSION=3.2.1 WP_MULTISITE=1
#    - env: WP_VERSION=3.2 WP_MULTISITE=0
#    - env: WP_VERSION=3.2 WP_MULTISITE=1
#    - php: 5.5
#    - php: 5.2

before_script:
  - pear channel-discover pear.phpunit.de
  - pecl install phpunit/test_helpers
  - php -d zend_extension=test_helpers.so -m | grep "Zend Modules"
  - phpenv rehash
  - echo -e "Get Copy of Sunny's Version of WordPress Tests";
  - wget -O testsuite.zip https://github.com/sunnyratilal/WordPress-Tests/zipball/master
  - echo -e "Unzip Copy of Sunny's Version of WordPress Tests";
  - unzip testsuite.zip -d tests/vendor
  - echo -e "Move Copy of Sunny's Version of WordPress Tests";
  - cp -r tests/vendor/sunnyratilal-WordPress-Tests-* tests/vendor/wordpress-tests
  - cp tests/includes/unittests-config.travis.php tests/vendor/wordpress-tests/unittests-config.php
  - echo -e "Get WordPress";
  - wget -O wordpress.tar.gz http://wordpress.org/wordpress-$WP_VERSION.tar.gz
  - echo -e "Unzip WordPress";
  - tar -xzf wordpress.tar.gz -C tests/vendor
  - echo -e "Create Database";
  - mysql -e "create database IF NOT EXISTS edd_test;" -uroot

script: 
  - phpunit --coverage-text
  - php tests/includes/clover.php travis/clover.xml 90

notifications:
  email:
    - edd.unit.tests@gmail.com
