language: php

php:
    - 5.3
    - 5.4
    - 5.5

env:
    - WP_VERSION=master WP_MULTISITE=0
    - WP_VERSION=3.5.2 WP_MULTISITE=0
    - WP_VERSION=3.5.1 WP_MULTISITE=0
    - WP_VERSION=3.5 WP_MULTISITE=0
    - WP_VERSION=master WP_MULTISITE=1
    - WP_VERSION=3.5.2 WP_MULTISITE=1
    - WP_VERSION=3.5.1 WP_MULTISITE=1
    - WP_VERSION=3.5 WP_MULTISITE=1

before_script:
    - wget http://getcomposer.org/composer.phar
    - php composer.phar install --dev --no-interaction
    - mkdir -p tmp
    - WP_CORE_DIR=tmp/wordpress/
    - WP_TESTS_DIR=tmp/wordpress-tests/
#    - wget -nv -O tmp/wordpress.tar.gz https://github.com/WordPress/WordPress/tarball/$WP_VERSION
    - svn co --ignore-externals http://core.svn.wordpress.org/trunk/ tmp/wordpress/
#    - mkdir -p $WP_CORE_DIR
#    - tar --strip-components=1 -zxmf tmp/wordpress.tar.gz -C $WP_CORE_DIR
    - svn co --ignore-externals http://unit-tests.svn.wordpress.org/trunk/ tmp/wordpress-tests/
#    - ls -l
    - cp tmp/wordpress-tests/wp-tests-config-sample.php tmp/wordpress-tests/wp-tests-config.php
    - sed -i "s:dirname( __FILE__ ) . '/wordpress/':'$WP_CORE_DIR':" tmp/wordpress-tests/wp-tests-config.php
    - sed -i "s/yourdbnamehere/wordpress_test/" tmp/wordpress-tests/wp-tests-config.php
    - sed -i "s/yourusernamehere/root/" tmp/wordpress-tests/wp-tests-config.php
    - sed -i "s/yourpasswordhere//" tmp/wordpress-tests/wp-tests-config.php
    - mysql -e 'CREATE DATABASE wordpress_test;' -uroot

script:
    - mkdir -p build/logs
    - phpunit -c phpunit.xml --coverage-clover build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls -v

notifications:
    irc:
        channels:
            - "irc.freenode.net#eddwp"
        template:
            - "Build %{build_number} (%{branch} - %{commit}): %{message} %{build_url}"
