<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Unit Tests">
			<directory prefix="tests-" suffix=".php">./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<file>./easy-digital-downloads.php</file>
			<file>./uninstall.php</file>
			<directory suffix=".php">./includes</directory>
			<directory suffix=".php">./src</directory>
			<directory suffix=".php">./i18n</directory>
			<exclude>
				<file>./includes/admin/payments/view-order-details.php</file>
				<file>./includes/admin/discounts/edit-discount.php</file>
				<file>./includes/admin/discounts/add-discount.php</file>
				<file>./includes/admin/reporting/class-export-customers.php</file>
				<file>./includes/admin/reporting/class-export-download-history.php</file>
				<file>./includes/admin/reporting/class-export-payments.php</file>
				<file>./includes/admin/tools/class-edd-tools-recount-all-stats.php</file>
				<file>./includes/admin/tools/class-edd-tools-recount-customer-stats.php</file>
				<file>./includes/admin/tools/class-edd-tools-recount-download-stats.php</file>
				<file>./includes/admin/tools/class-edd-tools-recount-single-customer-stats.php</file>
				<file>./includes/admin/tools/class-edd-tools-recount-store-earnings.php</file>
				<file>./includes/admin/tools/class-edd-tools-reset-stats.php</file>
				<file>./includes/admin/import/class-batch-import-downloads.php</file>
				<file>./includes/admin/import/class-batch-import-payments.php</file>
				<file>./includes/class-edd-cli.php</file>
				<directory>./includes/admin/reporting/export</directory>
				<directory>./includes/blocks/views</directory>
			</exclude>
		</whitelist>
	</filter>
	<groups>
		<exclude>
			<group>edd_ajax</group>
		</exclude>
	</groups>
</phpunit>
