<?xml version="1.0" encoding="UTF-8"?>
<phpunit	
		 backupGlobals="false"
		 backupStaticAttributes="false"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnError="false"
		 stopOnFailure="false"
		 stopOnIncomplete="false"
		 stopOnSkipped="false"
		 syntaxCheck="false"
		 verbose="false"
		 strict="true"
		 bootstrap="tests/includes/bootstrap.php">
	<testsuites>
		<testsuite name="Easy Digital Downloads Test Suite">
			<directory suffix=".php">tests/unit-tests</directory>
			<exclude>tests/unit-tests/ajax.php</exclude>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-clover" target="./clover.xml"/>
	</logging>
	<filter>
		<blacklist>
			<directory suffix=".php">./tests/</directory>
			<directory suffix=".php">./includes/admin/</directory>
			<directory suffix=".php">./includes/libraries/</directory>
			<directory suffix=".php">./templates/</directory>
			<directory suffix=".php">./languages/</directory>
			<!-- Need to exclude the main plugin file because the assertions are already made in tests/unit-tests/easy-digital-downloads.php -->
			<file>./easy-digital-downloads.php</file>
		</blacklist>
	</filter>
</phpunit>
