.edd-pro-upgrade,
.edd-pro-upgrade:hover{
	color: $edd-pro-upgrade;
	font-weight: 600;
	text-decoration: none;
}

.button.edd-pro-upgrade,
.button.edd-pro-upgrade:hover {
	background-color: $edd-pro-upgrade;
	color: $white;
	border-color: $edd-pro-upgrade;
}
