@use "../../variables/colors" as colors;

.edd-pro-upgrade,
.edd-pro-upgrade:hover {
	color: colors.$edd-pro-upgrade;
	font-weight: 600;
	text-decoration: none;

	&.button-link,
	&.button-link:hover {
		color: colors.$edd-pro-upgrade !important;
		text-decoration: none !important;
	}
}

.button.edd-pro-upgrade,
.button.edd-pro-upgrade:hover {
	background-color: colors.$edd-pro-upgrade;
	color: colors.$white;
	border-color: colors.$edd-pro-upgrade;
}
