.edd_dashboard_widget {
	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 1fr));
	grid-gap: 1em;

	> div:not(.table_left):not(.table_right) {
		grid-column: span 2;
	}

	table thead td {
		border-bottom: 1px solid $wp-border;
		color: #777;
	}

	.inside {
		font-size: 12px;
	}

	td {
		padding: 3px 0;
	}

	.b,
	.t {
		line-height: 1.5;
		vertical-align: middle;
	}

	.b {
		text-align: right;
	}

	.t {
		font-size: 12px;
		padding-right: 12px;
		color: #777;
		width: 100%;
	}

	.label_heading {
		border-top: 1px solid $wp-border;
		color: #8f8f8f;
		font-size: 12px;
		font-weight: normal;
		display: block;
		padding-top: 10px;
		margin: 0 0 8px 12px;
	}

	.edd_dashboard_widget_subheading {
		border-top: 1px solid $wp-border;
		color: #8f8f8f;
		font-size: 14px;
		padding-top: 10px;
		margin: 1em 0 0 0;
	}

	.edd_dashboard_widget_subheading+.table {
		margin: 8px 0 0 0;
	}

	.edd_price_label {
		background: var(--wp-admin-theme-color);
		border-radius: 3px;
		color: white;
		font-size: 10px;
		padding: 2px 4px;
		margin-right: 2px;
	}

	table {
		width: 100%;
		margin-left: 0;
		margin-bottom: 1em;
	}
}

td.edd_order_label {
	width: 80%;
}

td.edd_order_price {
	text-align: right;
}

@media handheld,
only screen and (max-width: 1000px) {

	.edd_dashboard_widget .edd-recent-email {
		display: none;
	}
}

.edd-dashboard-notice {
	grid-column: span 2;
	padding: 1px;
	text-align: center;
	margin: 1em -1em -1em;
	background-color: $wp-alternate;
	border: 1px solid $wp-border;

	&--error {
		background: $wp-red-50;
		color: $white;

		a {
			color: $white;
		}
	}
}
