.edd-section__id--badge {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	background-color: #fafafa;
	border-bottom-left-radius: 20%;
	border: 1px solid #eee;
	border-top: none;
	border-right: none;
	font-family: monospace;
	font-size: 18px;
	font-weight: 600;
}
