@import "vertical";
@import "dynamic";
@import "id";

.edd-sections-wrap {
	clear: both;
	width: 100%;

	.section-wrap {
		background-color: $white;
		border-left: 1px solid #e5e5e5;

		.row-title {
			width: 30%;
		}

		.editable {
			display: block;
			padding: 3px;
		}

		div.edit-item {
			margin-left: -4px;
			margin-top: -20px;
		}

		.customer-address.edit-item {
			margin-top: 3px;
		}

		span.edit-item {
			display: none;
		}

		.edit-item input {
			font-size: 13px;
		}

		.customer-name.edit-item input {
			margin-top: -5px;
		}

		.edd_user_search_results {
			left: -2px;
			top: 18px;
		}

		.edd_user_search_results ul {
			width: 198px;
		}

		.customer-section:not(:last-child) {
			border-bottom: 1px solid #eee;
		}

		.customer-section table {
			margin-bottom: 20px;
		}

		.section-content {
			border: none;
			display: grid;
			gap: 20px;
			padding: 20px;

			h2,
			> p,
			> .edd-form-group {
				margin: 0;
			}
		}

		.avatar-wrap {
			float: left;
			padding-right: 10px;
			text-align: center;
		}

		img.avatar {
			border-radius: 5px;
		}

		.customer-main-wrapper {
			float: left;
		}

		.customer-main-wrapper input[name="customerinfo[name]"] {
			font-size: 24px;
		}

		.customer-address-wrapper {
			float: right;
			margin-top: -3px;
			margin-right: 50px;
			width: 202px;
		}

		.info-wrapper {
			min-height: 125px;
			overflow: visible;
		}

		.customer-address span[data-key="address"],
		.customer-address span[data-key="address2"],
		.customer-address span[data-key="country"] {
			display: block;
		}

		a.delete {
			color: #ff0000;
			margin-right: 5px;
			text-decoration: none;
		}

		.notice-container {
			padding-left: 20px;
			padding-right: 20px;
			margin-left: -20px;
			margin-right: -20px;
		}

		.edd-repeatable-row-standard-fields {
			border: none;
		}
	}
}

@media screen and (max-width: 810px) and (min-width: 656px) {
	.edd-sections-wrap .section-wrap .widefat td,
	.widefat th {
		max-width: 100% !important;
		display: table-cell;
	}
}

@media screen and (max-width: 781px) {

	#edd-item-tab-wrapper,
	/** [1] */
	.edd-sections-wrap .section-wrap {
		margin: 0;
	}

	#edd-item-tab-wrapper-list .dashicons {
		/** [1] */
		font-size: 18px;
	}

	.edd-item-has-tabs .edd-sections-wrap .section-wrap {
		border-top: 1px solid #e5e5e5;
		border-left: 0;
		margin-top: -1px;
	}
}

@media screen and (max-width: 656px) {
	.edd-sections-wrap .section-wrap {
		.customer-address-wrapper {
			float: none;
			position: absolute;
			top: 84px;
			left: 165px;
			max-width: 200px;
		}

		.customer-main-wrapper {
			float: none;
			position: absolute;
			left: 165px;
		}

		#edd-item-stats-wrapper {
			padding-left: 0;
			padding-right: 0;
		}

		.customer-section {
			margin-bottom: 0;
		}

		.widefat td.no-items,
		.widefat td.column-primary,
		.widefat th.column-primary {
			width: 100px !important;
			display: table-cell;
			overflow: hidden;
			text-align: left;
		}

		.customer-id {
			display: none;
		}
	}
}

.edd-section-content__actions {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;

	.edd-form-group {
		margin-bottom: 0 !important;
		margin-right: auto;
	}
}

.section-content--is-dynamic:first-of-type .edd-section-content__remove {
	display: none;
}
