@use "~@wordpress/base-styles/breakpoints" as wp-breakpoints;
@use "../../variables/colors" as colors;
@use "../../variables/mixins" as mixins;
@use "../../components/editor-header";

.edd-email-editor__description {
	margin: 2em 0;
}

.edd-editor__header--actions {
	position: relative;

	.edd-email-status-badge {
		position: absolute;
		right: 0;
		top: 53px;
		margin-right: 20px;
		border: 1px solid;
		padding: 12px;
	}

	#submit.edd-updating {
		&:before {
			background: none;
			@include mixins.edd-spinner(
				12px,
				colors.$wp-alternate,
				colors.$wp-input-border
			);
		}
	}
}

.edd-email-action-reset {
	border-color: colors.$edd-alert-red !important;
	color: colors.$edd-alert-red !important;

	&:hover {
		border-color: colors.$edd-alert-red-hover !important;
		color: colors.$edd-alert-red-hover !important;
	}
}

.edd-editor__actions--test + .notice {
	margin-top: 2em;
}
