.edd-emails__add-new__overlay {
	position: absolute;
	right: 0;
	top: 40px;
	background: white;
	padding: 8px;
	border: 1px solid $wp-border;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	z-index: 1;
	align-items: stretch;

	button.button {
		background: none !important;
		border: none;
		color: $wp-text !important;
		text-align: left;
	}
}

#edd-admin-notice-emails {
	max-width: 100%;
	width: 800px;
	text-align: left;
	padding: 2em;

	h2 {
		line-height: unset;
		margin: 0;
	}

	.edd-extension-manager__body {
		grid-template-rows: unset;
		margin-bottom: 1.5em;
	}

	.edd-promo-notice__ajax & {
		width: 400px;

		.edd-extension-manager__body {
			grid-template-columns: 80px 1fr;
		}
	}

	.edd-extension-manager__card-group {
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
		text-align: left;
		margin: 0 auto 1em;
		width: 100%;

		.edd-extension-manager__single-card {
			margin: 0 auto 1em;
		}
	}

	.edd-promo-notice__overlay:not(.edd-promo-notice__ajax) & {
		.edd-extension-manager__body {
			grid-template-columns: 60px 1fr;
		}

		.edd-extension-manager__icon {
			width: 58px;
			height: 58px;

			img {
				width: 40px;
			}
		}
	}

	.edd-plugin__recommended {
		display: none;
	}
}
