.wp-block-edd-buy-button {
	.edd-submit {
		display: table;
	}

	.alignwide,
	.aligncenter {
		margin: 0 auto;
	}

	.alignright {
		margin: 0 0 0 auto;
	}

	.alignleft {
		margin: 0 auto 0 0;
	}

	.alignwide {
		width: 100%;
	}
}
