#pass-strength-result {
	background-color: #f0f0f1;
	border: 1px solid #dcdcde;
	color: #1d2327;
	margin: -1px 0 5px;
	padding: 3px 5px;
	text-align: center;
	box-sizing: border-box;
	opacity: 0;

	&.short {
		background-color: #ffabaf;
		border-color: #e65054;
		opacity: 1;
	}

	&.bad {
		background-color: #facfd2;
		border-color: #f86368;
		opacity: 1;
	}

	&.good {
		background-color: #f5e6ab;
		border-color: #f0c33c;
		opacity: 1;
	}

	&.strong {
		background-color: #b8e6bf;
		border-color: #68de7c;
		opacity: 1;
	}
}

.wp-pwd.is-open {
	position: relative;
}

.button.wp-hide-pw {
	background: transparent;
	border: 1px solid transparent;
	box-shadow: none;
	font-size: 14px;
	line-height: 2;
	width: 2.5rem;
	height: 2.5rem;
	min-width: 40px;
	min-height: 40px;
	margin: 0;
	padding: 5px 9px;
	position: absolute;
	right: 0;
	top: 0;
	color: #555;

	.dashicons {
		display: block;
	}
}

.wp-pwd {
	.caps-warning {
		display: none;
		position: relative;
		background: #fcf9e8;
		border: 1px solid #f0c33c;
		color: #1d2327;
		padding: 6px 10px;
	}

	.caps-icon {
		display: inline-flex;
		justify-content: center;
		width: 20px;
		height: 20px;
		margin-right: 5px;
		vertical-align: middle;
	}

	.caps-warning-text {
		vertical-align: middle;
	}
}
