.edd-no-items {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 60px auto;
	max-width: 600px;
	text-align: center;

	img {
		width: 175px;
		height: auto;
	}

	p {
		font-size: 16px;
		margin: 0 0 1.5em;
	}

	&__actions {
		display: flex;
		gap: 10px;
	}
}
