
.edd-custom-price-option {
	&-sections-wrap {
		display: none;
		border-width: 0 1px 1px;
		border-style: solid;
		border-color: $wp-border;
		box-sizing: border-box;
		width: 100%;
	}

	&-section {
		display: block;
		padding: 10px 8px;
		border-bottom: 1px solid rgba( 222, 222, 222, 0.3 );

		&-title {
			display: block;
			font-weight: 600;
			padding: 0 0 10px;
		}

		&-content {
			display: flex;
			gap: 12px;
			margin-bottom: 6px;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

.toggle-custom-price-option-section {
	color: $wp-gray-40;

	&:hover {
		color: $wp-text;
	}
}
