#edd_product_settings {

	.edd-product-options__title,
	.inside strong {
		border-top: 1px solid $wp-border;
		border-bottom: 1px solid $wp-border;
		background-color: $wp-alternate;
		display: flex;
		font-weight: 600;
		margin: 0 -12px 16px;
		padding: 8px 12px;
		justify-content: space-between;
		align-items: center;
	}

	.edd-product-options-wrapper:first-of-type .edd-product-options__title,
	.inside div:first-child strong {
		margin-top: -8px;
	}

	.edd-product-options__title .edd-help-tip,
	.inside strong .edd-help-tip {
		font-size: 20px;
	}

	.label--block {
		display: block;
		margin: 0 0 4px;
	}
}
