/* Chosen styles
-------------------------------------------------------------- */

body.js select.edd-select-chosen {
	height: 27px;
	opacity: 0.2;
	max-width: 300px;
}

.chosen-container.chosen-container-multi {
	width: 100% !important;
}

.chosen-container {
	font-size: 14px;
}

.chosen-container-single .chosen-single div b {
	background-image: none;
}

.chosen-container-single .chosen-single div b:before {
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	right: 2px;
	top: 0px;
	font-family: dashicons;
	font-size: 15px;
	content: '\f140';
	color: #555;
	margin-top: 1px;
}

.chosen-container-single .chosen-search input[type=text]:before {
	display: block;
	width: 20px;
	height: 20px;
	font-family: dashicons;
	content: '\f140';
}

.chosen-container-single .chosen-search:after {
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	right: 6px;
	top: 8px;
	color: #aaa;
	font-family: dashicons;
	font-size: 17px;
	line-height: 17px;
	content: '\f179';
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #ddd;
	border-radius: 0;
	background: #fff;
	padding: 2px 5px;
	outline: none;
}

.chosen-container-single .chosen-single,
.chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single {
	height: 29px;
}

.chosen-container-active .chosen-single {
	outline: auto 5px -webkit-focus-ring-color;
}

.chosen-container-multi .chosen-choices li.search-field {
	min-width: 100px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	min-height: 29px !important;
	width: auto !important;
}

.chosen-container-multi .chosen-choices,
.chosen-container-single .chosen-single {
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
}

.chosen-container-multi.chosen-with-drop .chosen-choices,
.chosen-container-active.chosen-with-drop .chosen-single {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.chosen-container-multi.chosen-with-drop .chosen-choices {
	border-bottom-color: transparent;
}

.chosen-container-single .chosen-single div {
	width: 17px;
}
.chosen-container-single .chosen-single span {
	margin-right: 13px;
}

.chosen-container .chosen-drop {
	font-size: 13px;
	position: absolute;
	top: 100%;
	z-index: 1010;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-top: 0;
	border-radius: 0;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.chosen-container-single .chosen-search input[type=text] {
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100% !important;
	height: auto;
	outline: 0;
	border: 1px solid #ddd;
	border-radius: 0;
	font-size: 13px;
	line-height: normal;
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
}

.chosen-container .chosen-results {
	color: #444;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
	max-height: 240px;
}

.chosen-container .chosen-results li.highlighted {
	background-image: none;
	color: #fff;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 5px 22px 5px 5px;
	border: 1px solid #ddd;
	max-width: 100%;
	border-radius: 0;
	background: #f4f4f4;
	box-shadow: none;
	color: #333;
	cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: 4px;
	right: 3px;
	display: block;
	width: 15px;
	height: 15px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 0;
	right: 0;
	color: #555;
	font-family: 'dashicons';
	content: '\f158';
	font-size: 15px;
	line-height: 15px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover:before {
	color: #aaa;
}

.chosen-container-multi .spinner {
	position: absolute;
	top: 4px;
	right: -4px;
}

/* Force on all screen sizes & resolutions */
.chosen-rtl .chosen-search input[type=text],
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search input[type=text],
.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
.chosen-container .chosen-results-scroll-down span,
.chosen-container .chosen-results-scroll-up span {
	background-image: none !important;
}

/* WordPress Color Schemes */

/* Fresh */

.admin-color-fresh .chosen-container .chosen-results li.highlighted {
	background-color: #00a0d2;
}

/* Blue */
.admin-color-blue .chosen-container .chosen-results li.highlighted {
	background-color: #096484;
}

/* Coffee */
.admin-color-coffee .chosen-container .chosen-results li.highlighted {
	background-color: #096484;
}

/* Ectoplasm */
.admin-color-ectoplasm .chosen-container .chosen-results li.highlighted {
	background-color: #a3b745;
}

/* Midnight */
.admin-color-midnight .chosen-container .chosen-results li.highlighted {
	background-color: #26292c;
}

/* Ocean */
.admin-color-ocean .chosen-container .chosen-results li.highlighted {
	background-color: #627c83;
}

/* Sunrise */
.admin-color-sunrise .chosen-container .chosen-results li.highlighted {
	background-color: #be3631;
}

/* Light */
.admin-color-light .chosen-container .chosen-results li.highlighted {
	background-color: #888;
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-evergreen .chosen-container .chosen-results li.highlighted {
	background-color: #36533f;
}

/* Mint */
.admin-color-mint .chosen-container .chosen-results li.highlighted {
	background-color: #4f6d59;
}

.edd-select-chosen {
	width: 100%;
	max-width: 300px;
}

.edd-select-chosen.edd-time {
	width: 55px;
	max-width: 50px;
}
