#edd-admin-tax-rates {
	margin: 1em 0 0;
}

#edd-admin-tax-rates .chosen-container {
	width: 100% !important;
}

#edd-admin-tax-rates tbody tr:not(:last-of-type) td {
	border-bottom: 1px solid #eee;
}

#edd-admin-tax-rates th {
	vertical-align: middle;
	padding: 8px;
}

#edd-admin-tax-rates td {
	vertical-align: top;
	padding: 10px;
}

#edd-admin-tax-rates tfoot th {
	vertical-align: top;
}

#edd-admin-tax-rates tfoot.add-new th {
	padding: 12px 8px 10px 8px;
}

.edd-tax-rate-table-add th select,
.edd-tax-rate-table-add th input[type="text"],
.edd-tax-rate-table-add th input[type="number"] {
	width: 100%;
	height: 28px;
	margin: 0;
	padding: 4px;
}

#edd-admin-tax-rates td.edd-tax-rates-table-checkbox,
#edd-admin-tax-rates th.edd-tax-rates-table-checkbox {
	width: 2.2em;
}

#edd-admin-tax-rates th.edd-tax-rates-table-rate,
#edd-admin-tax-rates th.edd-tax-rates-table-actions {
	width: 15%;
}

#edd-admin-tax-rates th.edd-tax-rates-table-checkbox input {
	margin-right: 2px;
}

/**
 * [1] Due to the inability to reset the <tbody> child views the "empty" view
 * can only be appended to the parent. This means duplicates may be added.
 *
 * This can be removed once changes are immediately reflected with Backbone.sync()
 */
#edd-admin-tax-rates .edd-tax-rate-row--is-empty + .edd-tax-rate-row--is-empty, /* [1] */
#edd-admin-tax-rates .edd-tax-rate-row--inactive {
	display: none;
}

#edd-admin-tax-rates .has-inactive .edd-tax-rate-row--inactive {
	display: table-row;
}

#edd-admin-tax-rates .edd-tax-rate-row--is-empty td {
	background-color: #f9f9f9;
}

#edd-admin-tax-rates .edd-tax-rate-row--inactive td {
	color: #999;
	background-color: #f9f9f9;
}

#edd-admin-tax-rates .edd-admin-tax-rates-table-hide {
	float: left;
	margin-left: 10px;
}

#edd-admin-tax-rates .edd-tax-rate-table-add {
	background-color: #f9f9f9;
}

#edd-admin-tax-rates .edd-tax-rate-table-add th {
	font-weight: normal;
}
