.edd-toggle {
	position: relative;
	display: flex;
	gap: 5px;
	overflow: visible;
	align-items: center;

	input[type="checkbox"] {
		position: relative;
		margin: 0;
		padding: 0;
		width: 42px;
		min-width: 42px;
		height: 24px;
		background-color: #ccc;
		transition: background 0.2s ease;
		border-radius: 34px;
		box-shadow: none;
		border: none;
	}

	.label {
		white-space: nowrap;
	}

	input[type="checkbox"]:before {
		position: absolute;
		content: "";
		height: 18px;
		width: 18px;
		left: 3px;
		bottom: 3px;
		background-color: white;
		transition: 0.1s transform ease;
		border-radius: 50%;
	}

	@media only screen and (max-width: $break-medium) {
		input[type="checkbox"]:checked:before {
			margin: -.1875rem 0 0 -.25rem;
		}
	}

	input[type="checkbox"]:checked {
		background-color: #007cba;
		background-color: var( --wp-admin-theme-color );
	}

	input[type="checkbox"]:active,
	input[type="checkbox"]:focus {
		outline: 0;
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px #7e8993;
	}

	input[type="checkbox"]:checked:active,
	input[type="checkbox"]:checked:focus {
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px #007cba;
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px var( --wp-admin-theme-color );
	}

	input[type="checkbox"]:checked:before {
		transform: translateX(22px);
	}

	input[type="checkbox"]:disabled {
		opacity: 0.5;
	}

	&.inverse {
		& input[type="checkbox"] {
			background-color: #007cba;
			background-color: var( --wp-admin-theme-color );
			transform: scaleX(-1);

			&:checked {
				background-color: #ccc;
			}
		}
	}
}
