
.chosen-container .chosen-results {
	color: #444;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
	max-height: 240px;
}

.chosen-container .chosen-results li.highlighted {
	background-image: none;
	border-radius: 4px;
	color: #fff;
}
