.chosen-container-multi .chosen-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 5px 22px 5px 5px;
	border: 1px solid #7e8993;
	max-width: 100%;
	border-radius: 4px;
	background: #f4f4f4;
	box-shadow: none;
	color: #333;
	cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: 4px;
	right: 3px;
	display: block;
	width: 15px;
	height: 15px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 0;
	right: 0;
	color: #555;
	font-family: 'dashicons';
	content: '\f158';
	font-size: 15px;
	line-height: 15px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover:before {
	color: #aaa;
}
