@media screen and (min-width: $break-small) {
	#edd-reports-charts-wrap {
		display: -ms-grid;
		display: grid;
		grid-template-columns: repeat(2, minmax(200px, 50%));
		grid-gap: 20px;
	}

	.edd-reports-chart {
		margin-bottom: 0;
	}

	.edd-reports-chart-line {
		grid-column: 1 / span 2;
	}
}

.edd-reports-chart {
	height: 500px;
	max-height: 700px;
}

.chart-timezone {
	font-size: .75rem;
	color: #CCCCCC;
}