.edd-extension-manager__bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	flex-wrap: wrap;

	&-heading {
		display: flex;
		align-items: center;
		gap: 1em;
	}

	input[type="search"] {
		background-color: $white;
		background-image: $icon-search;
		background-size: 1em;
		background-repeat: no-repeat;
		background-position: 97% center;

		&:active,
		&:focus,
		&:hover {
			background-image: none;
		}
	}
}
