.edd-form-row {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;

	&__row {
		display: inline-flex;
		align-items: flex-end;

		.edd-form-group__control {
			margin-bottom: 0;
		}
	}

	&__column {
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-end;

		&.edd-form-group {
			margin-bottom: 0;
		}
	}
}
