@import "../scss/forms";

.wp-block-edd-login {
	@import "../scss/password";

	div.reset-pass-submit {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	p,
	.edd-alert p {
		padding: 0;
		margin: 0;
	}
}
