
#edd-submit-refund-status {
	text-align: center;
	font-size: 1.2em;

	.edd-submit-refund-message {
		&:before{
			font-family: dashicons;
			font-size: 1.5em;
			vertical-align: middle;
			color: #fff;
			border-radius: 16px;
			margin: 5px;
		}

		&.success:before {
			content: "\f147";
			background-color: $wp-green-50;
			padding-right: 1px;
		}

		&.fail {
			display: block;
			margin-bottom: 16px;

			&::before {
				content: "\f335";
				background-color: $wp-red-50;
			}
		}
	}
}

#edd-refund-submit-button-wrapper {
	text-align: right;
}

.refunditems {
	.column-amount,
	.column-subtotal,
	.column-tax,
	.column-discount,
	.column-total {
		width: 130px;
	}

	.edd-form-group__control {
		display: flex;
		align-items: center;
		gap: 4px;

		input {
			max-width: 100px;
			width: calc(100% - 12px);
		}
	}

	.edd-refund-submit-line-total td {
		text-align: right;
	}

	.edd-refund-submit-line-total-amount {
		display: inline-block;
		text-align: left;
		width: 130px;
	}

	#edd-refund-submit-subtotal td {
		border-top: 2px solid $wp-border;
	}

	@media screen and ( max-width: 782px ) {
		td.column-total {
			margin-bottom: 16px;
		}

		.edd-refund-submit-line-total-amount {
			padding-right: 16px;
			width: unset;
		}
	}
}
