@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/colors.native";
/**
 * WordPress Core colors current as of 5.5.1.
 */
$wp-text: $gray-text-min;
$wp-border: #c3c4c7;

$wp-input-text: #32373c;
$wp-input-border: #7e8993;
$wp-input-border-2: #8c8f94;

$wp-alternate: #f9f9f9;
$wp-inactive: #999;

$wp-red-50: #d63638;
$wp-green-30: #00ba37;
$wp-green-50: #008a20;
$wp-yellow-50: #996800;
$warning: #f18200;

$wp-gray-0: $gray-0;
$wp-gray-2: $gray-100;
$wp-gray-5: #dcdcde;
$wp-gray-10: #c3c4c7;
$wp-gray-20: $gray-20;
$wp-gray-40: $gray-40;
$wp-gray-50: $gray-50;

$buddypress-colors: (
	'evergreen': #36533f,
	'mint': #4f6d59,
);

/**
 * EDD Brand Colors
 */
$edd-blue-gray: #35495c; // Found on our brand assets page.
$edd-light-blue: #2794da; // Found on our brand assets page.
$edd-light-gray: #f4f7fa; // Found on our brand assets page.

/**
 * EDD Admin Colors
 */

/**
 * Used in:
 * Admin bar thin line.
 * Persistent dismissables.
 * Flyout item backgrounds.
 */
$edd-notice-blue: #0c5d95;
$edd-notice-blue-hover: $edd-blue-gray;

/**
 * Used in:
 * Persistent dismissables - Alerts
 * Flyout item backgrounds - Activate License key
 * Flyout bubble - Alert Icon.
 */
$edd-alert-red: #d63638; // The red used in our notice bars and the flyout items.
$edd-alert-red-hover: #b60012; // The hover color for the alert red.

/**
 * Used in:
 * Flyout item backgrounds - Upgrade to Pro/Get a License
 * Upgrade to Pro links
 */
$edd-notice-green: #1da867;
$edd-notice-green-hover: #199155;

$edd-very-light-gray: #E8E8E8; // A light gray used for box shadows in some section content that overlays the WP core background.

/**
 * Used In:
 * Social Links in our footer.
 */
$edd-footer-social-link: #A7AAAD;
$edd-footer-social-link-hover: #50575e;

/**
 * Supplemental colors that WP Core Is Missing:
 */
$gray-800: #494949;

/**
 * Upgrade to Pro Colors
 */
$edd-pro-upgrade: #1da867;

/**
 * EDD Tooltips
 */
$edd-tool-tip-icon-color: rgba(126, 137, 147, 1);
$edd-tooltip-background: $white;
$edd-tooltip-text: #23282D;
$edd-tool-tip-shadow: 0px 8px 36px 0px rgba(29, 36, 40, 0.15);
