
/**
 * WordPress Core colors current as of 5.5.1.
 */
$wp-text: #444;
$wp-border: #c3c4c7;

$wp-input-text: #32373c;
$wp-input-border: #7e8993;

$wp-alternate: #f9f9f9;
$wp-inactive: #999;

$wp-red-50: #d63638;
$wp-green-50: #008a20;

$buddypress-colors: (
	'evergreen': #36533f,
	'mint': #4f6d59,
);
