@import "../scss/forms";

.wp-block-edd-register {

	.edd-blocks-form__group-password .edd-blocks-form__control {
		position: relative;
	}

	@import "../scss/password";

	div.edd-blocks-form__group-submit {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	p,
	.edd-alert p {
		padding: 0;
		margin: 0;
	}
}
