.edd-order-customer__actions {
	margin-bottom: 2em;
}

.order-customer-info {
	.customer-details-wrap {
		margin: 15px 0;
		align-items: center;
		gap: 10px;

		.spinner {
			margin: 0;
		}
	}

	.customer-details {
		display: flex;
		flex-direction: column;
	}

	.customer-details .customer-since {
		color: #666;
		display: block;
		margin: 4px 0 6px;
	}

	.customer-details > span {
		margin-bottom: 5px;
	}
}
